.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
  height: 65px;

  background-color: #34c94b; /* QTify green from Figma */

  /* Make it span full width */
  width: 100%;
  box-sizing: border-box;
}
.searchField input {
    width: 30vw;
    height: 45px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}
.searchField div {
    width: 45px;
    height: 45px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background-color: var(--white-color); */
      background-color: #ffffff; 
}
.searchField div img {
    margin: 12px 12px;
}

.searchField {
    display: flex;
}