.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: #121212;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.swiper-prev {
  left: 0;
}

.swiper-next {
  right: 0;
}
