.card {
  width: 160px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #121212;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  height: 140px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottomSection {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chip {
  background-color: #121212 !important;
  color: #ffffff !important;
  border: 1px solid #34c94b;
  font-size: 11px;
}

.albumName {
  font-size: 14px;
  color: white;
  margin: 0;
}
